:root{

  --maincolor:#3A3845;
  --color2:#807F86;
  --color3:#595667;
    --mainfont:"Inter", sans-serif;
    --font-2:"EB Garamond", serif;
    
}

/* navbar */
.nav-icon{
    color:#595667;
}
.navbar-nav .nav-link.active{
    color: #595667;
}
/* end navbar */

/* hero */
.hero{
    background-image: url(./../img/hero-img/flat-lay-composition-different-sized-plates\ 1.webp);
    background-size: cover;
}
  .hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.hero-2{
    background-color: #827066;
    height: 100vh;
    margin-left:140px;

}

.hero-btn:hover{
    background-color:#b9ada6;
    color: aliceblue;
}
.hero-2 p{
    margin-top: 42px;
    margin-bottom:20px;
    font-family:var(--mainfont);
}
.hero-2 h1{
    font-family:var(--font-2);
}


  .hero-btn {
    background-color: white;
    color:var(--maincolor);
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    width:220px ;
  }


/*  end hero */
.Product-types{
padding:80px 0;
}
.Product-types-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.card-text{
    color:var(--maincolor);
    font-size: 20px;
    margin-top:23px;
    font-family:var(--mainfont);
    text-transform: uppercase;

}
.offers-left p{
   font-family:var(--mainfont);
   color: var(--color2);
}
.offers-left h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.offers-left{
    background-color:#E5E5E5 ;
height: 100%;
}
.offers-left a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}
.offers-right img{
   height:280px;
    width:100%;
}
/* end offer*/

.our-history{
  margin-bottom:30px;
  margin-top:30px;
}
.history2 img{ 
   width: 100%;
  height: auto;
}
.history3 img{ 
   width: 100%;
  height: auto;
}
.history1 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.history1 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.history1{
    background-color:#E5E5E5 ;
height: 100%;
}
.history1 a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}

.history4 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.history4 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.history4{
    background-color:#E5E5E5 ;
height: 100%;
}
.history4 a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}












/*ourblog */
.ourblog{
    margin-top:80px;

}
.ourblog-left p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.ourblog-left .tit2 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    text-transform: uppercase;
    font-size:30px;

}
.ourblog-left .tit1 h2{
font-family:var(--mainfont);
    color: var(--color2);
    text-transform: uppercase;
font-size:15px;
margin-top: 54px;
}
.ourblog-left{
    background-color:#E5E5E5 ;
height: 100%;
}
.ourblog-left a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--color3);
    padding-bottom:10px;
       text-transform: uppercase;
font-size:15px;

}
.ourblog-right img{
   height:280px;
    width:100%;
}
 .ourblog-title h1{
    font-size:30px;
   font-family:var(--font-2);
   color: var(--maincolor);
   
}
/* end ourblog*/