:root{

  --maincolor:#3A3845;
  --color2:#807F86;
  --color3:#595667;
    --mainfont:"Inter", sans-serif;
    --font-2:"EB Garamond", serif;
    --color4:#bdbbbb;
}

/* navbar */
.nav-icon{
    color:#595667;
}
.navbar-nav .nav-link.active{
    color: #595667;
}
/* end navbar */

/* hero */
.hero{
    background-image: url(./../img/hero-img/flat-lay-composition-different-sized-plates\ 1.webp);
    background-size: cover;
}
  .hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.hero-2{
    background-color: #827066;
    height: 100vh;
    margin-left:140px;

}

.hero-btn:hover{
    background-color:#b9ada6;
    color: aliceblue;
}
.hero-2 p{
    margin-top: 42px;
    margin-bottom:20px;
    font-family:var(--mainfont);
}
.hero-2 h1{
    font-family:var(--font-2);
}


  .hero-btn {
    background-color: white;
    color:var(--maincolor);
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    width:220px ;
  }


/*  end hero */
/* Product types  */
.Product-types{
padding:80px 0;
}

.Product-types-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.Product-types .card-text{
    color:var(--maincolor);
    font-size: 20px;
    margin-top:23px;
    font-family:var(--mainfont);
    text-transform: uppercase;

}

/* end Product types  */

/*  offers */
.offers-left p{
   font-family:var(--mainfont);
   color: var(--color2);
}
.offers-left h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.offers-left{
    background-color:#E5E5E5 ;
height: 100%;
}
.offers-left a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}
.offers-right img{
   height:280px;
    width:100%;
}
/* end offer*/
/**/ 
.Best-sellers{
    margin-top: 80px;
}

.Best-sellers-card-btn{
    width:255px;
     border-radius: 0 ;
       text-transform: uppercase;
       margin-bottom:20px;
       
}
.Best-sellers-card-btn:hover{
   background-color: #827066;
   border-color: #827066;
}
.Best-sellers-card-title{
    color: var(--maincolor);
    font-family:var(--mainfont);
    font-size:15px;
      text-transform: uppercase;
      margin-top:24px;
}
.Best-sellers-card-span{
    color: var(--maincolor);
}
.Best-sellers-card-span{
    color: var(--maincolor);
}
.Best-sellers-card-text{
    color:var(--color2);
    font-size:14px;
    font-family:var(--mainfont);
}
.Best-sellers h1{
font-family:var(--font-2);
  text-transform: uppercase;
  color:var(--maincolor);
     font-size:30px;
   margin-bottom: 48px;
}
.Best-sellers-card-btn6{
    margin-top: 22px;
    
}

/* history */
.our-history{
  margin-bottom:30px;
  margin-top:30px;
}
.history2 img{ 
   width: 100%;
  height: auto;
}
.history3 img{ 
   width: 100%;
  height: auto;
}
.history1 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.history1 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.history1{
    background-color:#E5E5E5 ;
height: 100%;
}
.history1 a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}

.history4 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.history4 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
}
.history4{
    background-color:#E5E5E5 ;
height: 100%;
}
.history4 a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--maincolor);
    padding-bottom:10px;
           text-transform: uppercase;
}

/* end history */

/*ourblog */
.ourblog{
    margin-top:80px;

}
.ourblog-left p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.ourblog-left .tit2 h2{
   font-family:var(--font-2);
    color: var(--maincolor);
    text-transform: uppercase;
    font-size:30px;

}
.ourblog-left .tit1 h2{
font-family:var(--mainfont);
    color: var(--color2);
    text-transform: uppercase;
font-size:15px;
margin-top: 54px;
}
.ourblog-left{
    background-color:#E5E5E5 ;
height: 100%;
}
.ourblog-left a{
   font-family:var(--mainfont);
   text-decoration: underline;
    color: var(--color3);
    padding-bottom:10px;
       text-transform: uppercase;
font-size:15px;

}
.ourblog-right img{
   height:280px;
    width:100%;
}
 .ourblog-title h1{
    font-size:30px;
   font-family:var(--font-2);
   color: var(--maincolor);
  margin-bottom: 48px;
}
/* end ourblog */
/* new arrivals */
.new-arrivals{
    margin-top: 80px;
}
.new-arrivals-card-btn{
    width:255px;
     border-radius: 0 ;
       text-transform: uppercase;
       margin-bottom:20px;
       
}
.new-arrivals-card-btn:hover{
   background-color: #827066;
   border-color: #827066;
}
.new-arrivals-card-title{
    color: var(--maincolor);
    font-family:var(--mainfont);
    font-size:15px;
      text-transform: uppercase;
      margin-top:24px;
}
.new-arrivals-card-span{
    color: var(--maincolor);
}
.new-arrivals-card-span{
    color: var(--maincolor);
}
.new-arrivals-card-text{
    color:var(--color2);
    font-size:14px;
    font-family:var(--mainfont);
    margin-bottom:38px;
    margin-top: 24px;
}
.new-arrivals h1{
font-family:var(--font-2);
  text-transform: uppercase;
  color:var(--maincolor);
     font-size:30px;
   margin-bottom: 48px;
}

 .new-arrivals-c4{
margin-bottom:59px;
}

/* end  new arrivals */
/* Sign up  */
.p-Sign-up{
    color: var(--color3);
    font-family: var(--mainfont);
}
.h2-Sign-up{
    color: var(--maincolor);
    font-family: var(--font-2);
    font-size: 28px;}

.form-Sign-up{
    border: none;    
      border-bottom: 1px solid #333; 
         text-align: center;
          outline:none;
          height:40px;
          width:389px ;
align-items: center;
}

.form-Sign-up:focus {
  border-color: #8B4513; 
  box-shadow: 0 0 0 4px rgba(139, 69, 19, 0.4); 
}
.btn-Sign-up{
    font-family: var(--mainfont);
  text-transform: uppercase;
  border-radius: 0;
  color: var(--maincolor);

}
.btn-Sign-up:hover{
background-color: #827066;
border:none;
}

/*end  Sign up  */

/* footer */
.footer{
    background-color: var(--maincolor);
}
.footer-btn{
    border-radius: 0;
    font-family: var(--mainfont);
    width:160px ;
    height: 41px;
    margin-bottom:102px;
}
.footer-btn:hover{
color: #464358;
}
.footer-top-left p{
    font-size: 14px;
    color:var(--color4);
    font-family:var(--mainfont) ;
}
.footer-top-left img{
    margin-top:48px;
    margin-bottom: 24px;
}
  
    
  .footer-top-right{
    padding-left:80px;
    padding-top:60px;
  }
  .footer-top-right1{
    margin-bottom:20px;
  }
   .footer-top-right a{
text-decoration: none;
font-size:14px;
font-family:var(--mainfont);
color: var(--color4);
   }
 .footer-top-right h2{
    color:#FFFFFF;
    font-family: var(--mainfont);
     text-transform: uppercase;
     font-size:16px;
     margin-bottom:32px;
   }
   .footer-bottom{
    padding-bottom: 40px;
   align-items: center;
   text-align: center;
   margin-top:20px;
   }
   
     .footer-bottom a {
text-decoration: none;
color: #A6A6A8;
  font-family: var(--mainfont); 
  font-size:12px;
     }
     .footer-bottom span{
       color: #A6A6A8;
       font-family: var(--mainfont);
         font-size:12px;
     }

/*  end footer */

/*   ABOUT */

/* about moon */
.about-moon{
    padding-top:120px;
}
.about-moon h1{
    font-family: var(--font-2);
    color: var(--maincolor);
    font-size:36px;
    text-transform: uppercase;
}
.about-moon p{
    color: var(--color3);
    font-family: var(--mainfont);
    font-size:16px;
}

/* end about moon */

/* history */
.about-information{
  margin-bottom:30px;
  margin-top:30px;
}
.about-information2 img{ 
   width: 100%;
  height: auto;
}
.about-information3 img{ 
   width: 100%;
  height: auto;
}
.about-information6 img{ 
   width: 100%;
  height: auto;
}
.about-information1 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.about-information1 span{
   font-family:var(--font-2);
    color: var(--maincolor);
    
    margin-bottom: 24px;
       font-size:28px;
}
.about-information1 {
     background-color:#F7F6F5 ;
height: 100%;
}

.about-information4 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.about-information4 span{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
       font-size:28px;
}
.about-information4 {
      background-color:#F7F6F5 ;
height: 100%;
}

.about-information5 p{
   font-family:var(--mainfont);
   color: var(--color3);
}
.about-information5 span{
   font-family:var(--font-2);
    color: var(--maincolor);
    margin-top:60px;
    font-size:28px;
}
.about-information5 {
    background-color:#F7F6F5 ;
height: 100%;
}


/*  */
.How-we-works{
    padding-top: 80px;
}
.How-we-works-right{
  padding-top:30px; 
  padding-left:40px;
 

}
.How-we-works-right h1{
    font-family: var(--font-2);
        text-transform: uppercase;
margin-bottom: 24px;
   color: var(--maincolor);
}
.How-we-works-right h2{
    text-align: left;
    font-size:18px;
    margin-bottom: 24px;
    font-family: var(--mainfont);
    color: var(--maincolor);
}
.How-we-works-right p{
    text-align: left;
    margin-bottom:30px;
color: var(--color3);
font-family: var(--mainfont);
}


/* Our Team  */
.our-team {
padding:80px 0;
}

.our-team-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.our-team .card-text{
    color:var(--maincolor);
    font-size: 20px;
    margin-top:23px;
    font-family:var(--mainfont);
    text-transform: uppercase;

}
.our-team-card  h3{
    color: var(--color2);
    font-size: 14px;
    font-family: var(--mainfont);
}

.our-team-card .card-text{
    margin-top:24px;
     margin-bottom:12px;
    color: var(--maincolor);
    font-size: 14px;
    font-family: var(--mainfont);
      text-transform: uppercase;
}

.our-team-tit{
    color: var(--maincolor);
    font-family: var(--font-2);
     text-transform: uppercase;
     font-size: 36px;
     margin-bottom: 48px;
}
/*end Our Team  */